<div class="container">
  <h1 class="title">Dashboard</h1>

  <div class="col-4">
    <div class="box">
      <h2>Unfullfilled orders</h2>
      <span>24</span>
    </div>
  </div>

  <div class="col-4">
    <div class="box">
      <h2>Unfullfilled orders</h2>
      <span>24</span>
    </div>
  </div>

  <div class="col-4">
    <div class="box">
      <h2>Unfullfilled orders</h2>
      <span>24</span>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <table>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Savings</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Swanson</td>
          <td>$300</td>
        </tr>
        <tr>
          <td>Cleveland</td>
          <td>Brown</td>
          <td>$250</td>
        </tr>
      </table>

    </div>
  </div>
</div>
